.products-container{
    width: 100vw;
    height: 50.5vw;
    background-color: black;
}
.products-row{
    background: transparent;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
    margin-left: 10%;
}
.product{
    border: 1px solid white;
    color:white;
    text-align: center;
    width: 70%;
}